<h1 class="mb-1 text-align restaurant-show-title">新增帳務資訊 </h1>
<form id="form" action="/expense" method="POST" style="width: 50%; margin: auto">
  <div class="form-group">
    <label for="name">名稱</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="請填入名稱..." required>
  </div>
  <div class="form-group">
    <label for="date">日期</label>
    <input type="date" class="form-control" name="date" id="date" placeholder="日期 *"  required>
  </div>
  <div class="form-group">
    <label for="category">項目</label>
    <select class="form-control" name="category" id="category" required>
        <option value="家居物業">家居物業</option>
        <option value="交通出行">交通出行</option>
        <option value="休閒娛樂">休閒娛樂</option>
        <option value="餐飲食品">餐飲食品</option>
        <option value="其他">其他</option>
    </select>
  </div>
  <div class="form-group">
    <label for="amount">金額</label>
    <input type="text" class="form-control" name="amount" id="amount" placeholder="請填入金額..." required>
  </div>
  <button type="submit" class="btn btn-success">送出表單</button>
  <a href="/expense/index" class="btn btn-outline-secondary">取消</a>
</form>